@each $breakpoint in map-keys($grid-breakpoints){
  @include media-breakpoint-up($breakpoint){
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}{
      &-start {
        text-align: start !important;
      }

      &-center {
        text-align: center !important;
      }

      &-end {
        text-align: end !important;
      }

      &-default{
        color: var(--color-default) !important;
      }

      &-secondary{
        color: var(--color-secondary) !important;
      }

      &-disabled{
        opacity: .5 !important;
      }
    }
  }
}
