@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700');

@import '0-init/normalize.scss';
@import '0-init/breakpoints.scss';
@import '0-init/container.scss';
@import '0-init/display.scss';
@import '0-init/flex.scss';
@import '0-init/position.scss';
@import '0-init/spacing.scss';
@import '0-init/text.scss';

:root {
  --color-default: #3fc0c9;
  --color-default-text: white;
  --color-default-hover: #02919E;
  --color-default-rgb: 63, 189, 201;
  --color-default-text-rgb: 255, 255, 255;
  --color-default-hover-rgb: 2, 145, 158;
  --color-secondary: #0075ff;
  --color-secondary-text: white;
  --color-secondary-hover: #3b93fc;
}

*{
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.yoursapp {
  padding: 0;
  margin: 0;
  font: 400 18px 'Lato', sans-serif;
  background-color: #f5f7fd;

  img{
    max-width: 100%;
  }

  a{
    color: var(--color-default);
  }

  a:hover,
  a:focus{
    color: var(--color-default-hover);
  }

  .w-100{
    width: 100%;
  }

  h2{
    color: var(--color-default);
    font-weight: bold;
    font-size: 22px;
  }

  .fw-bold{
    font-weight: bold;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .vertical-align{
    &-middle{
      vertical-align: middle;
    }
  }

  .card-profil{
    &::before{
      height: 5px;
      content: '';
      display: block;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-image: linear-gradient(to right, #BC8CFF, #FF7B72);
    }
  }

  .container{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
  }
}
